:root {
    --main-bg-color: #38B070;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
}

.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    background-color: var(--main-bg-color);
    min-height: 100vh;
    /* margin-left: -15rem; */
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    color: #fff;
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vh;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    color: #fff;
    border: none;
    padding: 20px 25px;
}

.list-group-item.active {
    color: var(--main-bg-color);
    background-color: #fff;
    font-weight: bold;
    border: none;
}

.navbar {
    background-color: var(--second-bg-color);
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        padding-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -18rem;
    }
}