<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <link rel="stylesheet" th:href="@{css/ling-awesome.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>Kinoko admin</title>
  </head>
  <body>

    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
      <div class="sidebar-brand">
        <h2><span class="lab la-kickstarter-k"></span><span>KinokoCRM</span></h2>
      </div>

      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="index" class="active"><span class="las la-igloo"></span>
              <span>Dashboard</span></a>
          </li>
          <li>
            <a href="customers"><span class="las la-users"></span>
              <span>Customers</span></a>
          </li>
          <li>
            <a href="products"><span class="las la-clipboard-list"></span>
              <span>Products</span></a>
          </li>
          <li>
            <a href="sales"><span class="las la-receipt"></span>
              <span>Sales</span></a>
          </li>
          <li>
            <a href=""><span class="las la-user-circle"></span>
              <span>Accounts</span></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-content">
      <header>
        <h2>
          <label for="nav-toggle">
            <span class="las la-bars"></span>

            Dashboard
          </label>
        </h2>

        <div class="search-wrapper">
          <span class="las la-search"></span>
          <input type="search" placeholder="Search here">
        </div>

        <div class="user-wrapper">
          <img src="img/elliot.jpg" width="40px" height="30px" alt="">
          <div>
            <h4>Elliot Doe</h4>
            <small>Super admin</small>
          </div>
        </div>
      </header>

      <main>

        <div class="cards">
          <div class="card-single">
            <div>
              <h1>54</h1>
              <span>Customers</span>
            </div>
            <div>
              <span class="las la-users"></span>
            </div>
          </div>
          <div class="card-single">
            <div>
              <h1>79</h1>
              <span>Tasks</span>
            </div>
            <div>
              <span class="las la-clipboard-list"></span>
            </div>
          </div>
          <div class="card-single">
            <div>
              <h1>$600k</h1>
              <span>Income</span>
            </div>
            <div>
              <span class="lab la-google-wallet"></span>
            </div>
          </div>
        </div>

        <div class="recent-grid">
          <div class="projects">
            <div class="card">
              <div class="card-header">
                <h2>Recent Projects</h2>

                <a href="products.html"><button>See all <span class="las la-arrow-right"></span></button></a>
              </div>

              <div class="card-body">
                <div class="table-responsive">
                  <table style="width: 100%;">
                    <thead>
                    <tr>
                      <th>商品番号</th>
                      <th>商品名</th>
                      <th>モデル名</th>
                      <th>価格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product:${products}">
                      <td th:text="${product.productID}">商品番号</td>
                      <td th:text="${product.productName}">商品名</td>
                      <td th:text="${product.productModelName}">モデル名</td>
                      <td th:text="${product.price}">価格</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table style="width: 100%;">
                <thead>
                <tr>
                  <th>顧客番号</th>
                  <th>顧客名</th>
                  <th>類別</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer:${customers}">
                  <td th:text="${customer.customerID}"></td>
                  <td th:text="${customer.customerName}">名</td>
                  <td th:text="${customer.customerClass}">類別</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </main>
    </div>
  </body>
</html>