<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>Kinoko Login</title>
  </head>
  <body>
    <div class="login">
      <img src="img/login-image2.png" alt="login">
      <div class="login-box">
        <div class="brand">
          <h2>こんにちは！</h2>
          <h2><span class="lab la-kickstarter-k"></span><span>KinokoCRM</span></h2>
        </div>

        <form class="login-form" action="/dologin">
          <div>
            <label>ユーザー名：</label>
            <input type="text" name="username" required="required" placeholder="ユーザー名を入力してください">

          </div>
          <div>
            <label>パスワード：</label>
            <input type="password" name="password" required="required" placeholder="パスワードを入力してください">

          </div>
          <div>
            <button type="submit">ログイン</button>
          </div>
        </form>

      </div>

    </div>

  </body>
</html>
