<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Kinoko admin</title>
  </head>
  <body>

    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
      <div class="sidebar-brand">
        <h2><span class="lab la-kickstarter-k"></span><span>KinokoCRM</span></h2>
      </div>

      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="index.html" class="active"><span class="las la-igloo"></span>
              <span>Dashboard</span></a>
          </li>
          <li>
            <a href="customers.html"><span class="las la-users"></span>
              <span>Customers</span></a>
          </li>
          <li>
            <a href="products.html"><span class="las la-clipboard-list"></span>
              <span>Products</span></a>
          </li>
          <li>
            <a href=""><span class="las la-receipt"></span>
              <span>Sales</span></a>
          </li>
          <li>
            <a href=""><span class="las la-user-circle"></span>
              <span>Accounts</span></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-content">
      <header>
        <h2>
          <label for="nav-toggle">
            <span class="las la-bars"></span>

            Products
          </label>
        </h2>

        <div class="search-wrapper">
          <span class="las la-search"></span>
          <input type="search" placeholder="Search here">
        </div>

        <div class="user-wrapper">
          <img src="/static/img/elliot.jpg" width="40px" height="30px" alt="">
          <div>
            <h4>Elliot Doe</h4>
            <small>Super admin</small>
          </div>
        </div>
      </header>

      <main>
        <div class="products">
          <div class="card">
            <div class="card-header">
              <h2>Our Products</h2>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table style="width: 100%;">
                  <thead>
                  <tr>
                    <th>商品番号</th>
                    <th>商品名</th>
                    <th>モデル名</th>
                    <th>価格</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="product:${products}">
                    <td th:text="${product.productID}"></td>
                    <td th:text="${product.productName}">名</td>
                    <td th:text="${product.productModelName}">類別</td>
                    <td th:text="${product.price}">住所</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

  </body>
</html>