<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>Kinoko admin</title>
  </head>
  <body>

    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
      <div class="sidebar-brand">
        <h2><span class="lab la-kickstarter-k"></span><span>KinokoCRM</span></h2>
      </div>

      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="index"><span class="las la-igloo"></span>
              <span>Dashboard</span></a>
          </li>
          <li>
            <a href="customers"><span class="las la-users"></span>
              <span>Customers</span></a>
          </li>
          <li>
            <a href="products"><span class="las la-clipboard-list"></span>
              <span>Products</span></a>
          </li>
          <li>
            <a href="sales" class="active"><span class="las la-receipt"></span>
              <span>Sales</span></a>
          </li>
          <li>
            <a href=""><span class="las la-user-circle"></span>
              <span>Accounts</span></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-content">
      <header>
        <h2>
          <label for="nav-toggle">
            <span class="las la-bars"></span>

            Orders
          </label>
        </h2>

        <div class="search-wrapper">
          <span class="las la-search"></span>
          <input type="search" placeholder="Search here">
        </div>

        <div class="user-wrapper">
          <img src="img/elliot.jpg" width="40px" height="30px" alt="">
          <div>
            <h4>Elliot Doe</h4>
            <small>Super admin</small>
          </div>
        </div>
      </header>

      <main>
        <div class="customers">
          <div class="card">
            <div class="card-header">
              <h2>Our Orders</h2>
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table style="width: 100%;">
                  <thead>
                  <tr>
                    <th>注文番号</th>
                    <th>顧客名</th>
                    <th>責任者</th>
                    <th>商品名</th>
                    <th>商品型番</th>
                    <th>数量</th>
                    <th>期日</th>
                    <th>状態</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>PI11B215</td>
                    <td>佐藤祥子</td>
                    <td>大阪商会</td>
                    <td>プリンタ3型</td>
                    <td>GP03</td>
                    <th>13</th>
                    <th>2021-12-11</th>
                    <td>待機中</td>
                  </tr>
                  <tr>
                    <td>PI11A315</td>
                    <td>佐藤祥子</td>
                    <td>西中国商会</td>
                    <td>ディスク2型</td>
                    <td>DS02</td>
                    <th>21</th>
                    <th>2021-12-14</th>
                    <td>執行中</td>
                  </tr>
                  <tr>
                    <td>PI22R283</td>
                    <td>佐藤祥子</td>
                    <td>山本太郎</td>
                    <td>オフィスチェアー2型</td>
                    <td>CH02</td>
                    <th>10</th>
                    <th>2021-10-12</th>
                    <td>有効</td>
                  </tr>
                  <tr>
                    <td>PI23G192</td>
                    <td>佐藤祥子</td>
                    <td>大阪商会</td>
                    <td>プリンタ3型</td>
                    <td>GP03</td>
                    <th>13</th>
                    <th>2021-09-12</th>
                    <td>執行中</td>
                  </tr>
                  <tr>
                    <td>PI29I248</td>
                    <td>高橋瑠美子</td>
                    <td>東京商事</td>
                    <td>プリンタ3型</td>
                    <td>GP03</td>
                    <th>21</th>
                    <th>2021-11-24</th>
                    <td>執行中</td>
                  </tr>
                  <tr>
                    <td>PI11B215</td>
                    <td>加藤翔</td>
                    <td>大阪商会</td>
                    <td>オフィスチェアー1型</td>
                    <td>CH01</td>
                    <th>12</th>
                    <th>2021-08-12</th>
                    <td>待機中</td>
                  </tr>
                  <tr>
                    <td>PI18B293</td>
                    <td>田中治郎</td>
                    <td>大阪商会</td>
                    <td>ディスク2型</td>
                    <td>DS02</td>
                    <th>13</th>
                    <th>2021-12-11</th>
                    <td>待機中</td>
                  </tr>
                  <tr>
                    <td>PI11B215</td>
                    <td>佐藤祥子</td>
                    <td>大阪商会</td>
                    <td>プリンタ3型</td>
                    <td>GP03</td>
                    <th>13</th>
                    <th>2021-12-11</th>
                    <td>待機中</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </main>
    </div>

  </body>
</html>